---
layout: blank
title: Redirecting
cannonical_path: "/company/culture/"
---

- path = current_page.data.cannonical_path

%p{ :style => "text-align: center; margin-top: 30px;" }
  Redirecting to
  %a{ href: "#{path}" } https://about.gitlab.com#{path}

:javascript
  window.location.replace("#{path}")
